/**
 * Define all the regular CSS styles that are in-lined
 * For in-lined styles, see the corresponding TSX file
 * 
 */

.value-slider {
    height: 120px;
    width: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 10% 70%;
    grid-template-areas: 
        "     val       val    "
        " valCaption valCaption"
        "mainCaption  slider  ";
    align-items: stretch;
}

.value {
    grid-area: val;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value > input {
    width: 80%;
    text-align: center;
    font-size: 14px;
    border: solid 0.5px #D5D5D5;
}

.value-caption {
    grid-area: valCaption;
    background: geenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.value-caption > p {
    font-size: 8px;
    color: #9B9B9B;
}

.main-caption {
    grid-area: mainCaption;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-caption > div > p {
    text-align: center;
    margin: 0;
    font-size: 9px;
    color: #9B9B9B;
    text-transform: uppercase;
}

.slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    justify-content: center;
}