/* Line: 
border: 0 solid #4A4A4A;

/* Oval: 
background: #D8D8D8;
border: 0 solid #979797;

/* D . month:
font-family: Helvetica;
font-size: 9.24px;
color: #9B9B9B;

/* 18: 
font-family: AndaleMono;
font-size: 9.24px;
color: #4A4A4A;

/* Rectangle: 
border: 0 solid #D5D5D5;

/* days / month: 
font-family: AndaleMono;
font-size: 5.54px;
color: #9B9B9B;
*/

.value-slider {
    height: 120px;
    width: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 10% 70%;
    grid-template-areas: 
        "     val       val    "
        " valCaption valCaption"
        "mainCaption  slider  ";
    align-items: stretch;
    border: solid 1px red;
}

.value {
    grid-area: val;
    font-size: 9px;
    background: green;
}

.value-caption {
    grid-area: valCaption;
    background: greenyellow;
}

.main-caption {
    grid-area: mainCaption;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside {
    background: blueviolet;
    border: solid blueviolet 1px;
    height: 50%;
    width: 50%;
    /* margin: 0; */
}

.slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    justify-content: center;
}