/* Line: 
border: 0 solid #4A4A4A;

/* Oval: 
background: #D8D8D8;
border: 0 solid #979797;

/* D . month:
font-family: Helvetica;
font-size: 9.24px;
color: #9B9B9B;

/* 18: 
font-family: AndaleMono;
font-size: 9.24px;
color: #4A4A4A;

/* Rectangle: 
border: 0 solid #D5D5D5;

/* days / month: 
font-family: AndaleMono;
font-size: 5.54px;
color: #9B9B9B;
*/

.value-slider {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 10px 20px 90px;
    border: solid 1px red;
}

.value {
    background: green;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 9px;
}

.value-caption {
    background: greenyellow;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-caption {
    /* background: red; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside {
    background: blueviolet;
    height: 50%;
    width: 50%;
    /* margin: 0; */
}

.slider {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}