/* Line: 
border: 0 solid #4A4A4A;

/* Oval: 
background: #D8D8D8;
border: 0 solid #979797;

/* D . month:
font-family: Helvetica;
font-size: 9.24px;
color: #9B9B9B;

/* 18: 
font-family: AndaleMono;
font-size: 9.24px;
color: #4A4A4A;

/* Rectangle: 
border: 0 solid #D5D5D5;

/* days / month: 
font-family: AndaleMono;
font-size: 5.54px;
color: #9B9B9B;
*/

.value-slider {
    height: 120px;
    width: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 10% 70%;
    grid-template-areas: 
        "     val       val    "
        " valCaption valCaption"
        "mainCaption  slider  ";
    align-items: stretch;
}

.value {
    grid-area: val;
    display: flex;
    align-items: center;
    justify-content: center;
}
.value > p {
    padding: 1.5px 6px 1px 6px;
    font-size: 14px;
    border: solid 0.5px #D5D5D5;
}

.value-caption {
    grid-area: valCaption;
    background: geenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.value-caption > p {
    font-size: 8px;
    color: #9B9B9B;
}

.main-caption {
    grid-area: mainCaption;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-caption > p > p {
    text-align: center;
    margin: 0;
    font-size: 9px;
    color: #9B9B9B;
    text-transform: uppercase;
}

.slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    justify-content: center;
}