* {
    /* border: solid red 1px; */
    font-family: 'Roboto', sans-serif;
}

#mainTitle {
    margin-top: 25px;
    display: none;
}

#mainButton {
}


#plot {
    margin-bottom: 25px;
    display: none;
}
